*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 50px;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    overflow: hidden;
    height: 120px;
}

.navbar button{
    float: right;

    background: #FD1B18;
    padding: 10px 37px;
    border: 2px black solid;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.navbar button a{
    font-size: 17px;
    text-decoration: none;
    color: white;
}

#sub-menu {
    height: 50px;
    background-color:#e2e2e2;
    margin: 20px 0;
    border-bottom: 5px #333 solid;
    padding: 0;
    overflow: hidden;
}

#sub-menu li{
    display: inline-block;

    font-size: 20px;
    font-weight: 500;
}

#sub-menu .links{
    text-decoration: none;
    color: black;
    padding: 15px;
    position: relative;
    top: 10px;
}

/*#sub-menu a{
    position: relative;
    padding: 15px;
    top: 15px;

    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}*/

#sub-menu a:hover{
    background-color: #333;
}

#apresentacao{
    background: url(../img/carro-preto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 15px;

    display: flex;
    justify-content: center;
    text-align: center;
}

#apresentacao-content{
    width: 1000px;
}

#apresentacao-content p{
    margin: 50px;
}

.botao{
    background: none;
    padding: 25px 57px;
    border: 2px solid #000;
    outline: none;
    box-shadow: inset 0 0 1em rgb(151, 151, 147), 0 0 1em rgb(29, 28, 28);
    transition: all 1s;
}

.botao a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.botao:hover{
    cursor: pointer;
    padding: 28px 60px;
    box-shadow: inset 0 0 1em rgb(184, 14, 14), 0 0 1em rgb(255, 0, 0);
}



/*Olho(ver senha) - Login e Cadastro*/

.olho_cadastro{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 418px;
    right: 60px;
}
.olho_login{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 334px;
    right: 60px;
    
}
