*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /*margin: 0 50px;*/
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    overflow: hidden;
    height: 120px;
}

.navbar button{
    float: right;

    background: #FD1B18;
    padding: 10px 37px;
    border: 2px black solid;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.navbar button a{
    font-size: 17px;
    text-decoration: none;
    color: white;
}

#sub-menu {
    height: 50px;
    background-color:#e2e2e2;
    margin: 20px 0;
    border-bottom: 5px #333 solid;
    padding: 0;
    overflow: hidden;
}

#sub-menu li{
    display: inline-block;

    font-size: 20px;
    font-weight: 500;
}

#sub-menu .links{
    text-decoration: none;
    color: black;
    padding: 15px;
    position: relative;
    top: 10px;
}

/*#sub-menu a{
    position: relative;
    padding: 15px;
    top: 15px;

    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}*/

#sub-menu a:hover{
    background-color: #333;
}

#apresentacao{
    background: url(../img/carro-preto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 15px;

    display: flex;
    justify-content: center;
    text-align: center;
}

#apresentacao-content{
    width: 1000px;
}

#apresentacao-content p{
    margin: 30px;
}

.botao{
    background: none;
    padding: 25px 57px;
    border: 2px solid #000;
    outline: none;
    box-shadow: inset 0 0 1em rgb(151, 151, 147), 0 0 1em rgb(29, 28, 28);
    transition: all 1s;
}

.botao a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.botao:hover{
    cursor: pointer;
    padding: 28px 60px;
    box-shadow: inset 0 0 1em rgb(184, 14, 14), 0 0 1em rgb(255, 0, 0);
}

/*----------------Login e cadastro---------------------*/

.formulario{
    position: relative;
    left: 33.33%;
    text-align: center;
    width: 33.33%;
    padding: 15px;
    border: 2px black solid;
    border-radius: 50px;
    background-color: rgb(228, 228, 228);
}

.formulario input, #inputEstado{
    border-radius: 50px;
}
.btn_submit{
    border-radius: 50px;
    width: 100px;
}

/*---------------Olho(ver senha) - Login e Cadastro-------------------*/

.olho_cadastro{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 222px;
    right: 20px;
}
.olho_login{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 135px;
    right: 20px;
    
}

/*----------------Rodapé--------------*/


#rodape{
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
    width: 100%;
    margin: 15px 0 0 0;
}

#rodape h2{
    font-size: 20px;
}

#rodape ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#rodape a {
    color: #d2d1d1;
    text-decoration: none;
}

#rodape a:hover,
#rodape a:focus {
    text-decoration: none;
    color: white;
}

#rodape .footer-copyright{
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
